button {
  background-color: aqua !important; }

.button-danger {
  background-color: crimson !important; }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none !important; }
